*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

@font-face {
  font-family: erasbolditc;
  src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
}


@font-face {
  font-family: lucidiabright;
  src: url(../fonts/lucidabright/lucidabrightdemibold.ttf);
}


/* logo left on the page */
.logo1{
    width: 150px;
    position: absolute;
    left: 0%;
    top: 5px;
}


.pageid{
  color: white;
  position: absolute;
  top: 33px;
  left: 125px;
  font-size: 23px;
  font-family: lucidiabright;
}


/* Menu button Styling */
#menuknop{
  position: absolute;
  top: 8px;
  left: 96.5%;
  font-size: 50px;
  color: white;
  cursor: pointer;
}


/* content Menu */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: red;
}

h1, h2 {
  text-align: center;
  color: #0078ff;
}
/* contact form */


#menuknop {
  cursor: pointer;
  
}
.col, .form-row {
position: relative;
top: 100px;
left: 150px;
width: 900px;
}

.form-group {
  position: relative;
  left: 300px;
  top: 200px;
  width: 900px;
}
#form input {
    background-color: black;
}
