@font-face {
  font-family: erasbolditc;
  src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
}


@font-face {
  font-family: lucidiabright;
  src: url(../fonts/lucidabright/lucidabrightdemibold.ttf);
}

*{
    margin: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body, html {
    height: 100%;
}

/* Hero Image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../fotos/ML_LGH_5.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Tekst over de Hero Image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Gradient Fade */
#grad1 {
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255));
    position: relative;
    top: 49%;
  }

/* Witte Balk */
.rectangle {
    position: relative;
    top: 48%;
    height: 250px;
    width: 1903px;
    background-color: #ffff;
  }

/* Container met Nieuws Artikelen */
.container{
    position: absolute;
    top: 55%;
    left: 20%;
    width: 1140px;
    height: 1000px;
    align-content: center;
    background-color: white;
}

.row-cols-2{
    width: 1140px;
    height: 480px;
    gap: 20px;
}

.col{
    width: 550px;
    padding-top: 17px;
    height: 600px;
    outline-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a{
  text-decoration: none;
  color: black;
  
}

a:hover{
  color: initial; /* Takes initial value of the property which is black in this case */
}

/* Tekst boven nieuws artikelen */
h3{
  color: #0078ff;
}

/* logo left on the page */
.logo1{
  width: 150px;
  position: absolute;
  left: 0%;
  top: 5px;
}

.pageid{
  color: white;
  position: absolute;
  top: 33px;
  left: 125px;
  font-size: 23px;
  font-family: lucidiabright;
}

/* Menu button Styling */
#menuknop{
  position: absolute;
  top: 8px;
  left: 96.5%;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

/* content Menu */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}