/* Page Fonts */
@font-face {
  font-family: erasbolditc;
  src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
}

@font-face {
  font-family: lucidiabright;
  src: url(../fonts/lucidabright/lucidabrightdemibold.ttf);
}
/* Page Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* logo left on the page */
.logo1{
    width: 150px;
    position: absolute;
    left: 0%;
    top: 5px;
}

.pageid{
  color: white;
  position: absolute;
  top: 33px;
  left: 125px;
  font-size: 23px;
  font-family: lucidiabright;
}

/* Menu button Styling */
#menuknop{
    position: absolute;
    top: 8px;
    left: 96.5%;
    font-size: 50px;
    color: white;
}

/* content Menu */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* Parralex */
  .parallax {
    background-image: url("../fotos/nieuwsbackground.jpg");
    background-color: white;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*following just for demo purposes to add height and top padding*/
    height:195vh;
    padding-top:68vh;
}

/* Tekst Grid Containers */
  .titelnieuws{
    text-decoration: none;
    color: black;
  }

  /* Grid Container */
  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    gap: 20px;
    padding: 10px;
    height:100vh;
    background:rgba(255,255,255,0.5);
  }
  
  .grid-container > div {
    background-size: cover;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 300px;
    font-family: erasbolditc;
  }

  /* Artikel 1 Grid Container */
  .artikel1{
    color: black;
  }

  .artikel1foto
  {
    width: 445px;
    height: 240px;
  }

/* Artikel 2 Grid Container */
.artikel2{
  color: black;
}

.artikel2foto
{
  width: 445px;
  height: 240px;
}

/* Artikel 3 Grid Container */
.artikel3{
  color: black;
}

.artikel3foto{
  width: 445px;
  height: 240px;
}

/* Artikel 4 Grid Container */
.artikel4{
  color: black;
}

.artikel4foto
{
  width: 445px;
  height: 240px;
}