@font-face {
    font-family: erasbolditc;
    src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
  }

body{
    background-image: url(https://i.pinimg.com/originals/4c/c1/de/4cc1de92542efc930dccb6bf4bc95927.jpg);
height: 100%;
background-size: cover;

}

.arrow {
    border: solid rgb(253, 253, 253);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
    position: relative;
    top: 10px;
    left: 30px;
  }
  
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  h2{
    font-family: erasbolditc;
   }
  
   h2{
    -webkit-text-stroke: 0.75px rgb(59, 56, 218);
   }


