@font-face {
    font-family: erasbolditc;
    src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
  }


.arrow {
    border: solid rgb(253, 253, 253);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
    position: relative;
    top: 10px;
    left: 30px;
  }
  
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .parallax {
    /* The image used */
    background-image: url("https://img.redbull.com/images/c_crop,w_3200,h_1600,x_0,y_530,f_auto,q_auto/c_scale,w_1200/redbullcom/2018/07/01/18cc623f-7e34-49c6-b327-0a83c3cda600/max-verstappen-austrian-grand-prix-2018");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


