@font-face {
  font-family: erasbolditc;
  src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
}

body, html {
    height: 100%;
    margin: 0;
  }

body{
    background-image: url(http://wallpaperset.com/w/full/4/7/7/543847.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.arrow {
    border: solid rgb(253, 253, 253);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
    position: relative;
    top: 10px;
    left: 30px;
  }
  
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

 h2{
  font-family: erasbolditc;
 }

 h2{
  -webkit-text-stroke: 1px black;
 }