@font-face {
    font-family: erasbolditc;
    src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
  }

body{
    background-image: url(../fotos/f1.2.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
}

.arrow {
    border: solid rgb(253, 253, 253);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
    position: relative;
    top: 10px;
    left: 30px;
  }
  
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  h2{
    -webkit-text-stroke: 1.25px rgb(0, 0, 0);
    font-family: erasbolditc;
  }

