/* page fonts */
@font-face {
  font-family: erasbolditc;
  src: url(../fonts/erasbolditc/ErasBoldITC.ttf);
}


/* background */
body{
background-color: grey;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body {
  background-image: url(../fotos/achtergrond.png);
  background-size: cover;
  background-repeat: no-repeat;
}


/* Splash Screen */
header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}


.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
}


.logo-header {
    position: absolute;
    top: 30%;
    left: 650px;
    transform: translate(-50%, -50%);
    color: white;
}


.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    left: 300px;
    top: 150px;
}


.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.3s;
}


.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.6s;
}

.pageid{
    color: white;
    position: absolute;
    top: 33px;
    left: 125px;
    font-size: 23px;
    font-family: lucidiabright;
  }

/* Main Page */
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(13,3,51,0.3)rgba(13,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* logo left on the page */
.logo1{
    width: 150px;
    position: absolute;
    left: 0%;
    top: 5px;
}


/* tekt op de Main page over de background video heen */
.content{
    text-align: center;
}

.animate__fadeInLeftBig{
    --animation-delay: 28s;
    animation-duration: 6s;
}


.content h1{
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}


/* background video */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1000;
    background-size: cover;
    opacity: 0.8;
    zoom: 130%;
    
}


@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


/* Menu button Styling */
#menuknop{
    position: absolute;
    top: 8px;
    left: 96.5%;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

  
/* content Menu */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
 
 /* Positioning text and images */

p{
   position: fixed;
   top: 150px;
   left:520px;
   font-size:70px;
    
  }

  
.BruceIMG{
   position: absolute;
   top: 260px;
   left: 215px;
  }
  
#BruceTEXT{
   top: 555px;
   left:250px;
   position: absolute;
   font-size: 40px;
   }

   .pgahover{
   top: 260px;
   left: 215px;
   }
  

.SamuelIMG{
   position: absolute;
   top: 260px;
   left: 550px;
    
   }
#SamuelTEXT{
   top: 555px;
   left:585px;
   position: absolute;
   font-size: 40px;
   }
  
   .voetbalhover{
   top: 260px;
   left: 550px;
  }

  
  .MelleIMG{
   position: absolute;
   top: 260px;
   left: 885px;
   }
   #MelleTEXT{
   top: 555px;
   right:560px;
   position: absolute;
   font-size: 40px;
   }

   .f1hover{
   top:260px;
   left: 885px;
  }

 
.NoahIMG{
   position: absolute;
   top: 260px;
   left:1220px;
   }
#NoahTEXT{
   top: 555px;
   right:235px;
   position: absolute;
   font-size: 40px;
   }

.bodybuilderhover{
   top:260px;
   left:1220px;
  }
 
 
   /* Image hover effect */

.pga{
   position:absolute;
   width: 360px;
   max-width: 100%;
} 
  
.pga img.pgahover{ 
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); 
    transition: 1s ease;
  }
  
.pga:hover img.pgahover{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
  }
  
.pga img.BruceIMG{
    position: absolute;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
  }
  
.pga:hover img.BruceIMG{
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); 
    transition: 1s ease;
  }





.voetbal{
     position:absolute;
     width: 360px;
     max-width: 100%;
  }
    
.voetbal img.voetbalhover{
      position: absolute;
      opacity: 0;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); 
      transition: 1s ease;
    }
    
.voetbal:hover img.voetbalhover{
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      transition: 1s ease;
    }
    
.voetbal img.SamuelIMG{
    position: absolute;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
    }
   
.voetbal:hover img.SamuelIMG{
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); 
    transition: 1s ease;
    }
  
  


  
    .formule1{
      position:absolute;
      width: 360;
      max-width: 100%;
    }
   
    .formule1 img.f1hover{
      position:absolute;
      opacity: 0;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); 
      transition: 1s ease;
    }
    
    .formule1:hover img.f1hover{
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      transition: 1s ease;
    }
   
    .formule1 img.MelleIMG{
      position: absolute;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      transition: 1s ease;
    }
    
    .formule1:hover img.MelleIMG{
      opacity: 0;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); 
      transition: 1s ease;
    }
  
  
   


    .bodybuilder{
      position:absolute;
      width: 360;
      max-width: 100%;
    }
  
    .bodybuilder img.bodybuilderhover{
      position:absolute;
      opacity: 0;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); 
      transition: 1s ease;
    }
   
    .bodybuilder:hover img.bodybuilderhover{
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      transition: 1s ease;
    }
    
    .bodybuilder img.NoahIMG{
      position: absolute;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      transition: 1s ease;
    }
    .bodybuilder:hover img.NoahIMG{
      opacity: 0;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); 
      transition: 1s ease;
    }
  
  